body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Icon in the browser tab */

/* .icon {
    width: 300px;
    height: 200px;
    background-size: cover;
    background: url('https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon.png');
    background-repeat: no-repeat;
} */