.places {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    margin-right: 60%;
    margin-top: 5%;
}

.places h1 {
    margin-bottom: 0;
    font-size: 30px;
}


.places article {
    width: 390px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: 300px;
    margin-top: 15px;
}

article h2 {
    font-size: 30px;
}